{% extends "layout.html" %}

{% block body%}

<div class="row">
    <div class="col-md-10 offset-md-3">
      <div class="col-lg-8">
        <h3> Makaleler</h3>
        <hr>
      </div>
    </div>
</div>
<div class = "row">
  <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
      <form>
          {% csrf_token %}
      <input type="text" name="keyword" class="input-sm" maxlength="64" placeholder="Tarif Ara...">
      <button type="submit" class="btn btn-info">Ara</button>
      </form>
    </div>
  </div>

</div>

{% if articles %}
{% for article in articles %}

<div class="row">
  <div class="col-md-10 offset-md-3">
<!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
          <!-- <a href="/articles/article/{{article.id}}"><h2 class="mt-4">{{article.title}}</h2></a> -->
        <a href="{% url 'article:detail' article.id %}"><h2 class="mt-4">{{article.title}}</h2></a>

        <!-- Author -->
        <p class="lead">
          <a href="#">{{article.author}} tarafından yayınlandı </a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Tarih: {{article.created_date}} </p>

        <hr>

        <!-- Preview Image -->
        {% if article.article_image %}
          <!-- Dinamik hali aşağodadır <a href="/articles/article/{{article.id}}">-->
        <a href="{% url 'article:detail' article.id %}">
            <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
        </a>

        {% endif %}

        <hr>

        <!-- Post Content -->
        <p class="lead">
            {{article.content|safe|truncatewords:5}}
        </p>
          <!--<a style="float: right;" href="/articles/article/{{article.id}}" class="btn btn-warning"> Devamını oku...</a>-->
        <a style="float: right;" href="{% url 'article:detail' article.id %}" class="btn btn-warning"> Devamını oku...</a>

        <hr>

      </div>
      </div>
    </div>

{% endfor %}

{% else %}
<div class="alert alert-danger">
    Bu blogda bu isimde bir makale bulunmuyor !
</div>
{% endif %}


{% endblock body%}